<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar compra</title>
</head>

<body>
    <h2>Realizar compra</h2>

    {{#if cart.products}}
    <ul>
        {{#each cart.products}}
        <li>{{this.product.title}}</li>
        {{/each}}
    </ul>
    {{else}}
    <p>No hay productos en el carrito</p>
    {{/if}}


    <form action="/api/carts/{{cartId}}/purchase" method="post">
        <button type="submit">Comprar</button>
    </form>

    </form>
</body>

</html>