<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Restablecer contraseña</h2>
    <hr>
        {{#if error}}
    <div style="color: red;">{{error}}</div>
    {{/if}}
    <form action="/api/sessions/ResPass" method="post">
        <input type="email" name="email" placeholder="ingrese email">
        <input type="submit" value="Restablecer">
    </form>
</body>

</html>