<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    {{#unless isAuthenticated}}
    <div class="navbar">
        <a href="/login">Login</a>
        <a href="/registrate">Registrarse</a>
        <a href="/api-docs" target="_blank">Documentación</a>
    </div>
    {{else}}
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/perfil">Perfil</a>
        <a href="/chat">Chat</a>
        <a href="/api-docs" target="_blank">Documentación</a>
        <a href="/views/products">Productos</a>
        <a href="/purchase">Carrito</a>
        {{#if isAdmin}}
        <a href="/users">Usuarios</a>
        {{/if}}
        <a href="/api/sessions/logout">Cerrar Sesion</a>
    </div>
    {{/unless}}
    <br> <br>
    {{{body}}}

</body>

</html>